body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::selection {
  color: white;
  background: gray;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width: 10px;
  height: 10px;
  animation: floating 3s infinite;
}
@media (min-width: 768px){ 
    .arrow-hide {
      border:none!important;
    }
}
@keyframes floating {
  from {transform: translateY(0px) rotate(45deg);}
  50% {transform: translateY(20px) rotate(45deg);}
  to {transform: translateY(0px) rotate(45deg);}
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
