html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --animationBreakpoint: 100vw;
  --noImageFontSize: 5.6em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::selection {
  color: white;
  background: gray;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

@media (min-width: 1024px){ 
  body{
    --animationBreakpoint: 50vw;
    --noImageFontSize: 9.5em;
  }
  .arrow-hide {
    border:none!important;
  }
  .min-w-25{
    min-width:25rem;
  }
  .max-w-25{
    max-width:25rem;
  }
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width: 10px;
  height: 10px;
  animation: floating 3s infinite;
}
@keyframes floating {
  from {transform: translateY(0px) rotate(45deg);animation-timing-function: cubic-bezier(0.8, 0, 1, 1);}
  50% {transform: translateY(20px) rotate(45deg);animation-timing-function: cubic-bezier(0, 0, 0.2, 1);}
  to {transform: translateY(0px) rotate(45deg);animation-timing-function: cubic-bezier(0.8, 0, 1, 1);}
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.fade *{
  animation: fade-in 0.5s ease;
}
@keyframes fade-in {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

#root[header='true']{
  flex-direction: column!important;
}

#left.header{
  animation: leftToHeader 1.2s ease;
  flex-grow: 0;
  width: 100vw;
}

#right.body{
  animation: rightToBody 1.2s ease;
}

#left.half{
  width:100%;
  min-height: 100vh;
  
}

#right.half{
  min-height: 100vh;
  
}


@keyframes leftToHeader{
  from {min-height: 100vh; max-height: 100vh; flex-grow:1}
  49.8%  {min-height: 4rem;  max-height: 4rem;  flex-grow: 1;}
  50.2%  {max-height: 4rem;  flex-grow: 0; width:var(--animationBreakpoint);}
  to   {min-height: 4rem;  width:100vw;}
}

@keyframes rightToBody{
  from {padding-top: 0px;}
  49.8%  {padding-top: 4rem; width: var(--animationBreakpoint); padding-left: 0px;}
  50.2%  {padding-top: 0px;  width: 100vw; padding-left: calc(100vw - var(--animationBreakpoint));}
  to   {width:100vw; margin-left:0px}
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 100%;
  max-width: 32rem;
  padding: 5px;
  border-radius: 3px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}






.carousel-open {
  display: flex !important;
  opacity: 100 !important;
}
.carousel-item {
  display: none;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.border-gradient-green {
  /* bg-gradient-to-tl from-teal-400 to-green-600 */
  /* border-image-slice: 1;
  border-style: solid;
  border-image-source: linear-gradient(to top left, #4fd1c5, #38a169); */
  border-style: solid;
  border-color: transparent;
  background-image: linear-gradient(gray, gray), 
                    linear-gradient(to top left, #4fd1c5, #38a169);;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.rounded-full.border-gradient-green::after{
  color: lightgray;
  font-size: var(--noImageFontSize);
  content:"E•";
  position: absolute;
  transform: translate(-50%,-15px);
}